* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Root Start*/
/********************************************/

:root {
    
}

/* Root End */
/********************************************/

/* Header Start */

.header__nav {
    background: #36148B;
}

.header__nav-content {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-logo {
    height: 90px;
    display: flex;  
} 

.header__nav-list {
    display: flex;
    align-items: center;
    gap: 25px;
}

.header__nav-link {
    color: rgb(219, 215, 215);
    display: flex;
    gap: 5px;
  transition: all 0.25s ease-in-out;
font-size: 18px;
}

.header__nav-link:hover {
    transform: scale(1.05);
    color: white;
}