
@font-face {
    font-family: "LibreBaskerville-Italic";
    src: url(../font/LibreBaskerville-Italic.ttf);
  }
  
  
  @font-face {
    font-family: "Poppins-Regular";
    src: url(../font/Poppins-Regular.ttf);
  }
  

  
